body{
    background: rgb(19,6,64);
    background: linear-gradient(90deg, rgba(19,6,64,1) 11%, rgba(28,18,67,1) 34%, rgba(28,18,67,1) 42%, rgba(42,134,153,1) 100%);
}

ul{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 250px;
}
.titulo{
    font-size: 50px;
    color: #16d0ff;
   
  }

.home2{
    color:rgba(255, 255, 255, 0.918);
}

.sobre{
    color:rgba(255, 255, 255, 0.918);
}

.foto{
    color: rgba(255, 255, 255, 0.918);
}

.contato{
    color:rgba(255, 255, 255, 0.918);
}

.text{
    color: #d8d6d6 ;
    font-size: 28px;
}

.text2{
    font-size: 28px;
    color: #d8d6d6 ;
}

button{
    position: absolute;
    left: 70%;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    background-color: rgb(188, 188, 188);
}

.text3{
    color: #d8d6d6 ;
    font-size: 26px;
}

.historinha{
    color: #16d0ff;
}

img{
    border-radius: 10px;
}

.mae{
    display: flex;
    gap:20px;
}

